
<!--Navigation Pic with Text-->
      <section>
        <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
          <div class="navigation-pic-content ">
          <h2 style="color: white;">Master of Business Administration (MBA)</h2>
          <nav class="text-center" style="--bs-breadcrumb-divider: '>'; margin-left: 28%;" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">About Us</a></li>
              <li class="breadcrumb-item active" aria-current="page">MBA</li>
            </ol>
          </nav>  
        </div>
      </div>
      </section>
<!-- End of Nav -->

<!-- END OF HEADER -->

<section id="mba-page">
</div>
<section class="container full-content">


<div class="row"> 
<div class="col-md-6 wm-editore-text">
  
  <img src="/img/mba/mba.jpg" class="img-thumbnail" alt="img">
  

</div>
<div class="col-md-6 ">
  <h2 class="wm-left-border wm-color">Overview - Department of Management Studies</h2>
  <p> MBA Online Learning (OL) programme of the B.S. Abdur Rahman Crescent Institute of Science and Technology are developed in accordance with the guidelines of the UGC OL Regulatuions 2020 and in line with the vision and mission of the Institute. Typically, the curriculum and syllabus contents under both programmes are similar to our regular MBA programme, nevertheless delivered through Online mode using state-of-the-art IT infrastructure and web based technologies. The programmes are targeted to working adults as well as freshers who aspire to upskill their knowledge across functional areas of management that are evolving in the dynamic business environment in a flexible learning space.</p>    
</div>

</div>
<div class="row" style="margin-top: 50px;">
<div class="col-md-6 wm-editore-text">
   <h2 class="wm-left-border wm-color">Vision &amp; Mission</h2>
   <h3>Vision Statement</h3>
   <p>To provide a technology based platform for working adults and aspirants of higher degrees in the field of business management through in a flexible mode</p>
   <h3>Mission</h3>       
   <ul class="wm-list-style-icon">
              <li> <i class="fa fa-circle"></i>To provide quality education through OL mode in the field of management.</li>
              <li> <i class="fa fa-circle"></i>To offer flexible mode of learning for working professionals to upskill their knowledge in their own functional areas.</li>
              <li> <i class="fa fa-circle"></i>To offer the same curriculum and syllabi of regular MBA degree programme of the Institute to the aspirants of OL programmes.</li>
              <li> <i class="fa fa-circle"></i>To provide a state-of-the-art infrastructure for efficient and interactive teaching and learning using web-based technologies.</li>
              <li> <i class="fa fa-circle"></i>To offer industry oriented courses to meet the market demand.</li>
          </ul>
</div>

<div class="col-md-6 wm-editore-text" style="margin-top: 80px;">
  
  <img src="/img/mba/mba-vision.jpg" class="img-thumbnail" alt="img">
  

</div>
</div>


<div class="row">
<div class="col-md-12 wm-editore-text">
   <h2 class="wm-left-border wm-color">Eligibility</h2>
   <p>Any Bachelor Degree (minimum 3 years duration) with a minimum CGPA of 5.0 / 50% of marks</p>
          <ul class="wm-list-style-icon">
              <li> <i class="fa fa-circle"></i>Admission is based on the CGPA / Percentage obtained in the UG degree and performance in the CreScent School of Business Administration Test (CSBAT).</li>
              <li> <i class="fa fa-circle"></i>Applicants who have already appeared in the National level Entrance Exams like CAT, MAT, XAT, TANCET, etc., and have secured valid scores are exempted from appearing CSBAT.</li>
          </ul>
</div>
</div>
<div>
<div class="row">
  <div class="col-md-12">
       <div>
          <h2 class="wm-left-border wm-color">Fee Structure</h2>
      </div>
  </div>
</div>
<div class="row row-space">
  <div class="col-md-6">
      <h2>Indian Nationals</h2>
       <div class="wm-courses wm-courses-popular">
          <div class="wm-editore-text">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr style="background-color: #183051;color: white;">
                    <th class="table-background" scope="col">#</th>
                    <th class="table-background" scope="col">Particulars</th>
                    <th class="table-background" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Application Fee</td>
                    <td>₹1,000</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Tuition Fee per Semester</td>
                    <td>₹40,000</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <h2>Foreign Nationals</h2>
       <div class="wm-courses wm-courses-popular">
          <div class="wm-editore-text">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr style="background-color: #183051;color: white;">                      
                    <th class="table-background" scope="col">#</th>
                    <th class="table-background" scope="col">Particulars</th>
                    <th class="table-background" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Application Fee</td>
                    <td>$15</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Tuition Fee per Semester</td>
                    <td>$1,000</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
</div>
</section>
<section>
<div class="enquiry">
  <div>
    <i class="fa-solid fa-envelope"></i>
    <h4>General Enquiry</h4>
    <p>Click here to call us</p>
    <p><a href="tel:+91 44 22 751347">+91 44 22 751347</a> or <a href="tel:+91 44 22 759200">+91 44 22 759200</a></p>
  </div>

  <div>
    <i class="fa-solid fa-phone"></i>
    <h4>Admission Help Desk</h4>
    <p>Click here to call us</p>
    <p><a href="tel:+91 95432 77888">+91 95432 77888</a> or <a href="tel:+91 94990 01725">+91 94990 01725</a></p>
  </div>

  <div>
    <i class="fa-brands fa-rocketchat"></i>
    <h4>Admission Help Desk</h4>
    <p>We’re here for you in anything you need</p>
    <a href="https://crescent.univiser.io/prospect/" class="chat">START CHAT</a>
  </div>
</div>

</section>

<!-- END OF ENQUIRY SECTION -->


<div class="row container" style="padding: 50px 0px 25px 0px;">
<div class="col-md-12">
   <div class="wm-fancy-title text-center">
      <h2 class="mba-features" >Salient features of <span>the programme</span></h2>
   </div>
</div>
<div class="col-md-6" style="margin-top: 50px;">
   <figure class="wm-figure-thumb"><img class="img-responsive center-block img-thumbnail" src="/img/mba/salient-features.jpg" alt="MBA Events" title="MBA Events"></figure>
</div>
<div class="col-md-6 wm-editore-text" style="margin-top: 50px;">
   <ul class="wm-list-style-icon">
      <li><i class="fa fa-circle"></i> Offers 2 year OL MBA programme with semester pattern.</li>
      <li><i class="fa fa-circle"></i> The OL programmes are approved by the All India Council of Technical Education (AICTE) and UGC Entitled.</li>
      <li><i class="fa fa-circle"></i> Highly qualified faculty members with rich experience in industry and academics.</li>
      <li><i class="fa fa-circle"></i>  Elective courses in all functional areas with an option for dual specialization</li>
      <li><i class="fa fa-circle"></i> Independent full-fledged computer lab with latest software packages and database available at the Headquarters.</li>
      <li><i class="fa fa-circle"></i> Excellent teaching-learning environment along with LMS support.</li>
   </ul>
</div>
</div>
 </section>



