

<section>
   <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
     <div class="navigation-pic-content ">
     <h2>MBA Syllabus</h2>
     <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item"><a href="#">About Us</a></li>
         <li class="breadcrumb-item active" aria-current="page">Syllabus</li>
       </ol>
     </nav>  
   </div>
 </div>
 </section>
    
<div class="wm-main-content">
    <div class="wm-main-section mba-syl">
       <div class="container">
          <div class="row">
           <a class="wm-button" href="extra-images/MBA_Syllabus_3FEB22.pdf" download=""><span class="border-button">Click Here To Download Our MBA Syllabus</span></a>
             <div class="col-md-12 col-sm-12 col-xs-12 wm-editore-text">
                <h2 class="wm-left-border wm-color">M.B.A.</h2>
                <h4>SEMESTER Ⅰ</h4>
                <div class="table-responsive">
                   <table class="table table-striped table-margin">
                      <thead>
                         <tr>
                            <th class="table-background">Sl.No.</th>
                            <th class="table-background">Course Code</th>
                            <th class="table-background">Course Title</th>
                            <th class="table-background">L</th>
                            <th class="table-background">T</th>
                            <th class="table-background">P</th>
                            <th class="table-background">C</th>
                         </tr>
                      </thead>
                      <tbody class="data-alignment">
                         <tr>
                            <td>1.</td>
                            <td>MSE 6101</td>
                            <td>Management Concepts</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>2.</td>
                            <td>MSE 6102</td>
                            <td>Managerial Economics</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>3.</td>
                            <td>MSE 6103</td>
                            <td>Statistics for Decision making</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>4.</td>
                            <td>MSE 6104</td>
                            <td>Accounting for Managers</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>5.</td>
                            <td>MSE 6105</td>
                            <td>Organisational Behaviour</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>6.</td>
                            <td>MSE 6106</td>
                            <td>Legal Aspects of Business</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>7.</td>
                            <td>MSE 6107</td>
                            <td>Entrepreneurship Development</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <th id="total" colspan="2"></th>
                            <th id="total" colspan="5">Career Oriented Practicals</th>
                         </tr><tr>
                            <td>8.</td>
                            <td>MSE 6108</td>
                            <td>Computer applications in Business Lab </td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                         </tr>
                         <tr>
                            <td>9.</td>
                            <td>MSE 6109</td>
                            <td>Business Communication Lab</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                         </tr>
                      </tbody>
                      <tfoot>
                           <tr>
                            <th id="total" colspan="2"></th>
                            <th id="total" colspan="5">Total Credits - 30 </th>
                           </tr>
                       </tfoot>
                   </table>
                </div>

                <h4>SEMESTER Ⅱ</h4>
                <div class="table-responsive">
                   <table class="table table-striped table-margin">
                      <thead>
                         <tr>
                            <th class="table-background">Sl.No.</th>
                            <th class="table-background">Course Code</th>
                            <th class="table-background">Course Title</th>
                            <th class="table-background">L</th>
                            <th class="table-background">T</th>
                            <th class="table-background">P</th>
                            <th class="table-background">C</th>
                         </tr>
                      </thead>
                      <tbody class="data-alignment">
                         <tr>
                            <td>1.</td>
                            <td>MSE 6201</td>
                            <td>Strategic Management</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>2.</td>
                            <td>MSE 6202</td>
                            <td>Human Resources Management</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>3.</td>
                            <td>MSE 6203</td>
                            <td>Corporate Finance</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>4.</td>
                            <td>MSE 6204</td>
                            <td>Operations Management</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>5.</td>
                            <td>MSE 6205</td>
                            <td>Marketing Management</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>6.</td>
                            <td></td>
                            <td>General Elective I</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>7.</td>
                            <td></td>
                            <td>General Elective II </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                             <th id="total" colspan="2"></th>
                             <th id="total" colspan="5">Career Oriented Practicals</th>
                         </tr>
                         <tr>
                            <td>8.</td>
                            <td>MSE 6206</td>
                            <td>Current Affairs in Business Lab</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                         </tr>
                         <tr>
                            <td>9.</td>
                            <td>MSE 6207</td>
                            <td>Psychometrics and Corporate connect Lab</td>
                            <td>0</td>
                            <td>0</td>
                            <td>2</td>
                            <td>1</td>
                         </tr>
                      </tbody>
                      <tfoot>
                           <tr>
                            <th id="total" colspan="2"></th>
                            <th id="total" colspan="5">Total Credits - 30 </th>
                           </tr>
                       </tfoot>
                   </table>
                </div>

                <h4>SEMESTER Ⅲ</h4>
                <div class="table-responsive">
                   <table class="table table-striped table-margin">
                      <thead>
                         <tr>
                            <th class="table-background">Sl.No.</th>
                            <th class="table-background">Course Code</th>
                            <th class="table-background">Course Title</th>
                            <th class="table-background">L</th>
                            <th class="table-background">T</th>
                            <th class="table-background">P</th>
                            <th class="table-background">C</th>
                         </tr>
                      </thead>
                      <tbody class="data-alignment">
                         <tr>
                            <td>1.</td>
                            <td>MSE 7101</td>
                            <td>Managing Disruptive Technologies</td>
                            <td>3</td>
                            <td>1</td>
                            <td>0</td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>2.</td>
                            <td></td>
                            <td>General Elective III</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>3.</td>
                            <td></td>
                            <td>Functional Elective I</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>4.</td>
                            <td></td>
                            <td>Functional Elective II</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>5.</td>
                            <td></td>
                            <td>Functional Elective III</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>6.</td>
                            <td></td>
                            <td>Functional Elective IV</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>7.</td>
                            <td></td>
                            <td>Functional Elective V</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>8.</td>
                            <td></td>
                            <td>Functional Elective VI</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>4</td>
                         </tr>
                         <tr>
                            <td>9.</td>
                            <td>MSE 7102</td>
                            <td>Summer Internship *</td>
                            <td>0</td>
                            <td>0</td>
                            <td>8</td>
                            <td>4</td>
                         </tr>
                      </tbody>
                      <tfoot>
                           <tr>
                            <th id="total" colspan="2"></th>
                            <th id="total" colspan="5">Total Credits - Min: 36 </th>
                           </tr>
                       </tfoot>
                   </table>
                </div>

                <h4>SEMESTER Ⅳ</h4>
                <div class="table-responsive">
                   <table class="table table-striped table-margin">
                      <thead>
                         <tr>
                            <th class="table-background">Sl.No.</th>
                            <th class="table-background">Course Code</th>
                            <th class="table-background">Course Title</th>
                            <th class="table-background">L</th>
                            <th class="table-background">T</th>
                            <th class="table-background">P</th>
                            <th class="table-background">C</th>
                         </tr>
                      </thead>
                      <tbody class="data-alignment">
                         <tr>
                            <td>1.</td>
                            <td>MSE 7201</td>
                            <td>Project work</td>
                            <td>0</td>
                            <td>0</td>
                            <td>16</td>
                            <td>8</td>
                         </tr>
                         <tr>
                            <td>2.</td>
                            <td></td>
                            <td>MOOC (General Management Course) *</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>3</td>
                         </tr>
                      </tbody>
                      <tfoot>
                           <tr>
                            <th id="total" colspan="2"></th>
                            <th id="total" colspan="5">Total Credits - Min: 11 </th>
                           </tr>
                       </tfoot>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

