
<section>
    <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
      <div class="navigation-pic-content ">
      <h2>People - MBA</h2>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Programmes Offered</a></li>
          <li class="breadcrumb-item"><a href="#">MBA</a></li>
          <li class="breadcrumb-item active" aria-current="page">People</li>
        </ol>
      </nav>  
    </div>
  </div>
  </section>
  
  <!-- END OF HEADER -->
  
  <div class="wm-main-content" style="margin: 70px 0px 60px 0px;">
    <div class="wm-main-section">
        <div class="container">
            <!----------- Department People ---------->
            <div class="row row-space" style="margin-left: 100px;">
                <div class="col-md-4"> 
                    <figure class="wm-figure-thumb">
                        <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.K.Srinivasan.jpg" alt="Chancellor" title="chancellor">
                    <figcaption>
                        <p class="text-center">Dr. K.Srinivasan <br><span class="designation">Dean</span></p>
                    </figcaption>
                </figure> 
                </div>
                <div class="col-md-4" > 
                    <figure class="wm-figure-thumb">
                        <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/DR.M.SHANMUGAM.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. Shanmugam <br>Munuswamy <br><span class="designation">HoD</span></p>
                </figcaption>
                </figure> 
                </div>
                <div class="col-md-4"> 
                    <figure class="wm-figure-thumb">
                        <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/rabiya.jpg" alt="Chancellor" title="chancellor">
                    <figcaption>
                        <p class="text-center">Dr. S. Rabiyathul Basariya <br><span class="designation">Programme Coordinator</span></p>
                    </figcaption>
                    </figure> 
                </div>
            </div>
  
  
  
  
            <!-- CDOE TEAM -->
  
  
  
  
            <div class="row space">
              <div class="col-md-12 wm-editore-text">
                  <h2 class="wm-color vision-head wm-left-border row-space">CDOE Team</h2>
              </div>
          </div>   
  
          <div class="row row-space" style="margin-left: 10%">
            <div class="col-md-3"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/thowseaf.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">S. Thowseaf<br><span class="designation">Assistant Professor</span></p>
                </figcaption>
            </figure> 
            </div>
            
            <div class="col-md-3"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/rabiya.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Rabiyathul Basariya <br><span class="designation">Assistant Professor</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-3"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.Sabrath.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. Syed Masrath <br><span class="designation">Assistant Professor</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-3"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.Agalya.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. V. Agalya <br><span class="designation">Assistant Professor</span></p>
                </figcaption>
                </figure> 
            </div>
            
        </div>
            <!--<div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/rabiya.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. S. Rabiyathul Basariya</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor (Sr. Gr)</small></h3>
                      
                  </div>
                  </div> -->
                  
  
  
                  <!-- <div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/prasanna.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head"> Dr. G. Prasanna </h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
                          <p>Dr. G. Prasanna has completed PhD in Business Administration. He has industrial work experience for Six years in the Senior cadre. He has more than six years work experience in Research and teaching. He has published papers in National and international journals. He also has participated in National and international conferences.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' >
                              <b>Course Intro Video:</b> 
                              <u>https://vimeo.com/679082452</u>
                          </a></p>
                      </div>
                  </div> -->
  
  
  
                  <!-- <div class="row row-space">
                      <div class="col-md-4"> 
                      <figure class="wm-figure-thumb">
                         <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/thowseaf.jpg" alt="" title="">
                      </figure> 
                      </div>
                      <div class="col-md-8 wm-editore-text">
                          <h2 class="wm-color vision-head"> Dr S. Thowseaf</h2>
                          <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
                          <p>Dr S. Thowseaf completed PhD in management in the year 2019 from Alagappa University. He has more than 3 years of teaching and research experience. He has published 30 plus articles in reputed journals. Also, he has attended 3workshops, 12 seminars, and 10 international and 6 national level conferences over the past 7 years. He has authored 2 books as well as contributed chapters for 2 books. He is expertise in using statistical software such as SPSS, AMOS and E-Views. His area of interest in academics is International Business Management and General Management.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' >
                              <b>Course Intro Video:</b> 
                              <u>https://vimeo.com/679082452</u>
                          </a></p>
                      </div>
                  </div> -->
                      
                  
  
  
  
            <!----------- Course Coordinators ---------->
             <div class="row space">
              <div class="col-md-12 wm-editore-text">
                  <h2 class="wm-color vision-head wm-left-border row-space">Course Coordinators</h2>
              </div>
          </div>       
          <div class="row row-space" style="margin-left: 100px;">
            
            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/rabiya.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Rabiyathul<br> Basariya <br><span class="designation">Human Resource<br> Management</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/thowseaf.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Thowseaf <br><span class="designation">Business Analytics</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/ritu.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. Ritu Gangil<br><span class="designation">Corporate Finance</span></p>
                </figcaption>
                </figure> 
            </div>
        </div>

        <div class="row row-space" style="margin-left: 100px;">
            
            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/priya.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. R. Priya  <br><span class="designation">Research Methodology</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Bhuvaneshwari.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Bhuvaneshwari <br><span class="designation">Strategic Management</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/rabiya.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Rabiyathul Basariya <br><span class="designation">Marketing Management</span></p>
                </figcaption>
                </figure> 
            </div>
        </div>

        <div class="row row-space" style="margin-left: 100px;">
            
            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/batcha.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. H. Moideen Batcha<br><span class="designation">Current Affairs in<br> Business Lab</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Bhuvaneshwari.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Bhuvaneshwari <br><span class="designation"> Psychometric & Corporate<br> Connect Lab</span></p>
                </figcaption>
                </figure> 
            </div>

            <div class="col-md-4"> 
                <figure class="wm-figure-thumb">
                    <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/saravana.jpg" alt="Chancellor" title="chancellor">
                <figcaption>
                    <p class="text-center">Dr. S. Saravanan <br><span class="designation">Operations Management</span></p>
                </figcaption>
                </figure> 
            </div>
        </div>

        
  
          <!--<div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/DR.CHANDRIKASRINIVAS.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. Chandrika Srinivas</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor (Sr. Gr)</small></h3>
  <p>Dr. Chandrika Srinivas, has completed PhD in Management in the year 2016 from Mother Teresa Women’sUniversity. She has more than 16 years of teaching experience and has more than 15 years of industry experience. Her area of interest is in Marketing Management and General Management. She has published papers in reputed national and international journals. She has also written a chapter in a book.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082386" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082386</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/DR.KHALIDWAHEED-MBA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. Khalid Waheed</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. Khalid Waheed, has completed PhD in Islamic Banking and Finance in 2009 from Aligarh Muslim University. He is working with the institute since 2011. He has more than 12 years of teaching experience. His area of interest is in Islamic Banking &amp; Finance, Economics and Islamic Sciences etc. He has published many research papers in reputed national and international journals. He has also written a chapter in a book.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082452</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Ms.Jeyanthi-MBA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. M. V Jayanthi</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. M. V Jayanthi has completed her PhD in the year 2021 from B S Abdur Rahman Crescent Institute of Science and Technology. She has more than 10 years of teaching experience. She specializes in operation research. She has also published many research papers in reputed national and international journals.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082539" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082539</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.S.Panboli-MBA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. S. Panboli</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Associate Professor</small></h3>
  <p>Dr. S. Panboli, has completed PhD in in the year 2015 from Mother Teresa Women’sUniversity. She has cleared UGC NET in 2005. She has more than 29 years of teaching experience. Her area of interest is in Financial Management, Organizational Behaviour, Human Resource Management, etc. She has also published many research papers in reputed national and international journals. She has also written a chapter in a book.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082640" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082640</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Takhellambam-Rocky-Devi.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. Takhellambam Rocky Devi</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. Takhellambam Rocky Devi, has completed PhD in Management in the year 2020 from the B S Abdur Rahman Crescent Institute of Science and Technology. She has more than 10 years of teaching experience and has around3 years of industry experience. She has cleared SET in 2012. She is also a certified trainer from Bosch and Indian Academy of Training and Development. Her area of interest is in Organizational Behaviour, Human Resource Management, HR Analytics, etc. She has published many research papers in reputed national and international journals. She has also written a chapter in a book.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082826" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082826</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/DR.JOSEPH-MARY-RAHILA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. Joseph Mary Rahila</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. Joseph Mary Rahila has completed her PhD in Management from Anna University, Chennai.  She has cleared UGC-NET in the year 2010.  She has 20 years of teaching experience.  Her area of expertise is Consumer Behavior, Strategic Marketing, Information Systems, E Commerce.  She has also participated in the workshop organized by IIM-K on Multivariate Data Analysis and IIT-M on Theory Construction for Model Specification.  She has published research papers in both national and international journals.  She also has contributed in developing cases and caselet for Consumer Behaviour: Buying, Having and Being’Solomon, Pearson Education Publication,2015.  She had edited books and written a book on “Medical Tourism”, for Distance Education, Anna University,Chennai.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082899" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082899</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Mr.S.ChandraSekhar.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Mr. S Chandra Shekhar</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Mr. S Chandra Shekhar has completed his masters in public management from Pondicherry University. He brings with him over 25 years of corporate experience in technology and service sectors. His area of interest is training and development of entrepreneurship skills among the students.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082976" target='__blank' ><b>Course Intro Video:</b> <u>https://vimeo.com/679082976</u></a></p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.Prasanna-S-MBA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. Prasanna</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. Prasanna S, has completed PhD in Management in Banking Technology in the year 2020 from Pondicherry University. He has more than 2 years of teaching experience. He has completed many certification courses related to banking and financial domain. His area of interest is in Information Security Behavior, Insurance Marketing, Bank Management, Cyber Crimes in Banks, Consumer’s Behavior, Human Resource Management. He has published research papers in reputed national and international journals.</p></div>
                  </div><div class="row row-space">
                  <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                     <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/Dr.-S.Vijayakumar-MBA.jpg" alt="" title="">
                  </figure> 
                  </div>
                  <div class="col-md-8 wm-editore-text">
                      <h2 class="wm-color vision-head">Dr. S.Vijayakumar</h2>
                      <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
  <p>Dr. S.Vijayakumar received his PhD in English Language Teaching in 2017 from B. S. Abdur Rahman Crescent Institute of Science and Technology. He has more than 17 years of teaching experience. He is an IELTS certified train the trainer. He has published 30 research papers in reputed national and international journals. He has authored five books and has co-authored a book. He has also written 10 chapters in various books. His research interests include Second Language Acquisition and Applied Linguistics.</p></div>
                  </div>                 -->
                        
        </div>
  </div>
  </div>
  