

<!--Navigation Pic with Text-->
      <section>
        <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
          <div class="navigation-pic-content ">
          <h2 style="color: white;">Master of Computer Applications (MCA)</h2>
          <nav class="text-center" style="--bs-breadcrumb-divider: '>'; margin-left: 28%;" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">About Us</a></li>
              <li class="breadcrumb-item active" aria-current="page">MCA</li>
            </ol>
          </nav>  
        </div>
      </div>
      </section>
<!-- End of Nav -->

<!-- END OF HEADER -->

 
</div>
  <section class="container full-content" id="mca-page">


  <div class="row"> 
  <div class="col-md-6 wm-editore-text">
    
    <img style="width: 100%;" src="/img/mca/mca-overview.jpg" class="img-thumbnail" alt="img">
    

  </div>
  <div class="col-md-6 ">
    <h2 class="wm-left-border wm-color">Overview - Department of Computer Applications</h2>
    <p>The department offers Master of Computer Applications (MCA) since 1994, M.Phil (Computer Science) since 2009, Ph.D (Computer Science) since 2009, MCA (Lateral Entry) since 2014. The department motivates Staff and Students to promote Industry Institute Interaction and R&D activities. In addition to regular curriculum the department organizes technical seminars, symposia, workshops, industrial visits, in-plant training to expose the students to the real world environments and to enable them to gain practical knowledge.</p>    
  </div>

  <div class="row">
    <div class="col-md-6" style="padding-top: 30px;">
      <p>The website and Internet services of the institute are maintained by the Department of Computer Applications. Along with that the Department offers additional virtual lab classes, live classes, tutorial MOOC’s and vocational augmentation. Courses through IIT Professors under MHRD’s QEEE programme. Special placement opportunities on mobile development in Android/IOs platforms. The MCA Programme was accredited by NBA since 2001. The department has adequate infrastructure and well-equipped laboratories and it is empowered with a team of highly qualified faculty members.</p>
    </div>

    <div class="col-md-6">
      <img style="width: 100%;" src="/img/mca/mca-overview.jpg" class="img-thumbnail" alt="img">
    </div>
  </div>

</div>
<div class="row" style="margin-top: 50px;">
  <div class="col-md-12 wm-editore-text">
     <h2 class="wm-left-border wm-color">Vision</h2>
     <p>Aspires to provide quality education in the field of computer applications with state-of-the-art computational facilities and undertake quality research in collaboration withindustries and universities to produce committed professionals and academicians to meetthe needs of the industries and society.</p>
     <h3>Mission</h3>       
     <ul class="wm-list-style-icon">
                <li> <i class="fa fa-circle"></i>To disseminate knowledge through education and training of graduates in the field of computer applications.</li>
                <li> <i class="fa fa-circle"></i>To focus on teaching - learning, research and consultancy to promote excellence in computer applications.</li>
                <li> <i class="fa fa-circle"></i>To foster graduates with opportunities required to explore, create and face challenges of IT related industries.</li>
                <li> <i class="fa fa-circle"></i>To equip the graduates with the necessary skills in communication, team work and leadership qualities to meet the needs of the IT related sector globally.</li>
                <li> <i class="fa fa-circle"></i>To disseminate the outcome of projects and research work undertaken by the department through appropriate measures for the benefit of society and industry.</li>
            </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12 wm-editore-text">
     <h2 class="wm-left-border wm-color">Eligibility</h2>
     <p>Any undergraduate Degree with branch of study in Computer Applications, Computer Science, Engineering with a minimum CGPA of 5.0 / 50% of marks.</p>

     <p class="text-center">OR</p>

     <p>Any undergraduate degree with the branch of study in Mathematics, Physics, Chemistry, Commerce with Mathematics at Graduation Level or 12th standard Level and with a minimum CGPA of 5.0 / 50% of marks.</p>
            <ul class="wm-list-style-icon">
                <li> <i class="fa fa-circle"></i>Admission is based on the CGPA /Percentage obtained in the UG degree and performance in the Crescent PG Entrance Exam (CPGEE).</li>
                <li> <i class="fa fa-circle"></i>Applicants who have already appeared in the National level Entrance Exams like TANCET, etc., and have secured valid scores are exempted from appearing CPGEE.</li>
            </ul>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-md-12">
         <div>
            <h2 class="wm-left-border wm-color">Fee Structure</h2>
        </div>
    </div>
  </div>
  <div class="row row-space">
    <div class="col-md-6">
        <h2>Indian Nationals</h2>
         <div class="wm-courses wm-courses-popular">
            <div class="wm-editore-text">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr style="background-color: #183051;color: white;">
                      <th class="table-background" scope="col">#</th>
                      <th class="table-background" scope="col">Particulars</th>
                      <th class="table-background" scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Application Fee</td>
                      <td>₹1,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Tuition Fee per Semester</td>
                      <td>₹30,000</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Foreign Nationals</h2>
         <div class="wm-courses wm-courses-popular">
            <div class="wm-editore-text">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr style="background-color: #183051;color: white;">                      
                      <th class="table-background" scope="col">#</th>
                      <th class="table-background" scope="col">Particulars</th>
                      <th class="table-background" scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Application Fee</td>
                      <td>$15</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Tuition Fee per Semester</td>
                      <td>$750</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
</section>
<section>
  <div class="enquiry">
    <div>
      <i class="fa-solid fa-envelope"></i>
      <h4>General Enquiry</h4>
      <p>Click here to call us</p>
      <p><a href="tel:+91 44 22 751347">+91 44 22 751347</a> or <a href="tel:+91 44 22 759200">+91 44 22 759200</a></p>
    </div>

    <div>
      <i class="fa-solid fa-phone"></i>
      <h4>Admission Help Desk</h4>
      <p>Click here to call us</p>
      <p><a href="tel:+91 95432 77888">+91 95432 77888</a> or <a href="tel:+91 94990 01725">+91 94990 01725</a></p>
    </div>

    <div>
      <i class="fa-brands fa-rocketchat"></i>
      <h4>Admission Help Desk</h4>
      <p>We’re here for you in anything you need</p>
      <a href="https://crescent.univiser.io/prospect/" class="chat">START CHAT</a>
    </div>
  </div>
  
</section>

<!-- END OF ENQUIRY SECTION -->


<div class="row container mca-salient" style="padding: 50px 0px 25px 0px;">
  <div class="col-md-12">
     <div class="wm-fancy-title text-center">
        <h2 class="mba-features" >Salient features of <span>the programme</span></h2>
     </div>
  </div>
  
  <div class="col-md-6 wm-editore-text" style="margin-top: 50px;">
     <ul class="wm-list-style-icon">
        <li><i class="fa fa-circle"></i> Offers 2 year OL MCA programme with semester pattern.</li>
        <li><i class="fa fa-circle"></i> The OL programmes are approved by the All India Council of Technical Education (AICTE) and UGC Entitled.</li>
        <li><i class="fa fa-circle"></i> Highly qualified faculty members with rich experience in industry and academics.</li>
        <li><i class="fa fa-circle"></i>  Elective courses in all functional areas.</li>
        <li><i class="fa fa-circle"></i> Independent full-fledged computer lab with latest software packages and database available at the Headquarters.</li>
        <li><i class="fa fa-circle"></i> Excellent teaching-learning environment along with LMS support.</li>
     </ul>
  </div>
  <div class="col-md-6" style="margin-top: 50px;">
     <figure class="wm-figure-thumb"><img class="img-responsive center-block img-thumbnail" src="/img/mca/mca-events.jpg" alt="MBA Events" title="MBA Events"></figure>
  </div>
</div>


