

<section>
  <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
    <div class="navigation-pic-content ">
    <h2>People - MCA</h2>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Programmes Offered</a></li>
        <li class="breadcrumb-item"><a href="#">MCA</a></li>
        <li class="breadcrumb-item active" aria-current="page">People</li>
      </ol>
    </nav>  
  </div>
</div>
</section>


<div class="wm-main-content">
  <div class="wm-main-section">
      <div class="container">
          <!----------- Department People ---------->
          <div class="row row-space" style="margin-left: 100px;">
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/execution/DR.SHARMILASANKAR.jpg" alt="Chancellor" title="chancellor">
                  <figcaption>
                      <p class="text-center">Dr. Sharmila Sankar <br><span class="designation">Dean</span></p>
                  </figcaption>
              </figure> 
              </div>
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/MR.S.PAKKIRMOHIDEEN.jpg" alt="Chancellor" title="chancellor">
              <figcaption>
                  <p class="text-center">Dr. S.Pakkir Mohideen <br><span class="designation">HoD</span></p>
              </figcaption>
              </figure> 
              </div>
              <div class="col-md-4"> 
                  <figure class="wm-figure-thumb">
                      <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/jeslin.jpg" alt="Chancellor" title="chancellor">
                  <figcaption>
                      <p class="text-center">Dr. E.Jeslin Renjith <br><span class="designation">Programme Coordinator</span></p>
                  </figcaption>
                  </figure> 
              </div>
          </div>



<!-- CDOE TEAM -->
<div class="row space">
    <div class="col-md-12 wm-editore-text">
        <h2 class="wm-color vision-head wm-left-border row-space">CDOE Team</h2>
    </div>
</div> 

<div class="row row-space" style="margin-left: 100px;">
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/jeslin.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Dr. E.Jeslin Renjith <br><span class="designation">Assistant Professor</span></p>
        </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/maheshwari.jpg" alt="Chancellor" title="chancellor">
    <figcaption>
        <p class="text-center">Mrs. P. Maheswari<br><span class="designation">Assistant Professor</span></p>
    </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/manjula.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">S. Manjula <br><span class="designation">Assistant Professor</span></p>
        </figcaption>
        </figure> 
    </div>
</div>


<div class="row space">
    <div class="col-md-12 wm-editore-text">
        <h2 class="wm-color vision-head wm-left-border row-space">Course Coordinators</h2>
    </div>
</div> 

<div class="row row-space" style="margin-left: 100px;margin-top: 100px;">
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/mahesh.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Mrs. P. Maheswari <br><span class="designation">Programming in Java</span></p>
        </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/thowseaf.jpg" alt="Chancellor" title="chancellor">
    <figcaption>
        <p class="text-center">Prof. S. Thowseaf<br><span class="designation">Resource Management <br>Technique</span></p>
    </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/mahesh.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Mrs. P. Maheswari <br><span class="designation">Cloud Computing</span></p>
        </figcaption>
        </figure> 
    </div>
</div>


<div class="row row-space" style="margin-left: 100px;">
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/manjula.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Prof. S. Manjula <br><span class="designation">Mobile Application <br>Development</span></p>
        </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/jeslin.jpg" alt="Chancellor" title="chancellor">
    <figcaption>
        <p class="text-center">Prof. E. Jeslin Renjith<br><span class="designation">Introduction to Data <br>Science </span></p>
    </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/jaya.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Prof. A.  Jaya <br><span class="designation">Digital Marketing</span></p>
        </figcaption>
        </figure> 
    </div>
</div>

<div class="row row-space" style="margin-left: 100px;">
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/basha.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">Prof. G. Hussain Basha <br><span class="designation">Communication Skills <br>Lab</span></p>
        </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/jeslin.jpg" alt="Chancellor" title="chancellor">
    <figcaption>
        <p class="text-center">Prof. E. Jeslin Renjith<br><span class="designation"> Advanced Technology <br>Lab</span></p>
    </figcaption>
    </figure> 
    </div>
    <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
            <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mca/people/mahesh.jpg" alt="Chancellor" title="chancellor">
        <figcaption>
            <p class="text-center">P. Maheshwari <br><span class="designation">Programming in Java <br>Lab</span></p>
        </figcaption>
        </figure> 
    </div>
</div>



<!-- <div class="row space">
    <div class="col-md-12 wm-editore-text">
        <h2 class="wm-color vision-head wm-left-border row-space">CDOE Team</h2>
    </div>
</div>   

  
        <div class="row row-space">
        <div class="col-md-4"> 
        <figure class="wm-figure-thumb">
           <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/maheshwari.jpg" alt="" title="">
        </figure> 
        </div>
        <div class="col-md-8 wm-editore-text">
            <h2 class="wm-color vision-head">Mrs. P. Maheswari</h2>
            <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
            <p>Mrs. P. Maheswari is working as an Assistant Professor in B S Abdur Rahman Crescent Institute of Science and Technology. She has more than 11 years of teaching experience and cleared TNSET in 2016. Her area of interest is Data Science, Machine learning, Data mining, etc. She has published many research papers in reputed national and international journals. She has published book chapters and have   co-authored a book. She has completed many certificates courses.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' ><b>Course Intro Video:</b> 
            </a></p>
        </div>
        </div>
        <div class="row row-space">
            <div class="col-md-4"> 
            <figure class="wm-figure-thumb">
               <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/jeslin.jpg" alt="" title="">
            </figure> 
            </div>
            <div class="col-md-8 wm-editore-text">
                <h2 class="wm-color vision-head">E.Jeslin Renjith</h2>
                <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
                <p>E.Jeslin Renjith, is working as an Assistant Professor in the Department of CDOE at BS Abdur Rahman Crescent Institute of Science and Technology, Chennai. She has done her B.Sc degree in Physics and Master of Computer Application from MS University, Tirunelveli, and M.Phil from MK University, Madurai. She has qualified SET in 2016. She has submitted her Ph.D thesis to Bharathiyar University, Coimbatore. She has 15 years of teaching experience. She has presented papers in many National and International conferences and published research articles in Scopus and Web of Science Journals. She is a good counselor and an innovative researcher. She is skilled in different programming languages. She authored a book entitled “Computer Organization”. Her area of interest includes Data Mining, Big Data, Microprocessor, and AI.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' >
                    <b>Course Intro Video:</b> 
                </a></p>
            </div>
        </div>

        <div class="row row-space">
            <div class="col-md-4"> 
            <figure class="wm-figure-thumb">
               <img class ="img-responsive center-block img-thumbnail profile_image" src="/img/mba/people/manjula.jpg" alt="" title="">
            </figure> 
            </div>
            <div class="col-md-8 wm-editore-text">
                <h2 class="wm-color vision-head">S. Manjula </h2>
                <h3 class="wm-left-border wm-color under-line"><small>Assistant Professor</small></h3>
                <p>S.Manjula has completed her MCA.,SET in the year oct 2012.she has 7+years of teaching experience and 5+ years of Industrial experience. She specialized in Programming C, C++, Operating System, Data structure, Database Management System. she also created udemy courses for UGC NET Paper1, UGC NET Paper2(Computer science),Graph theory and Number system. She also developed the youtube channel Exclusively for UGC NET/SET/JRF Aspirants (CS) to achieve their dreams.</p><p><i style="color: red;margin: 5px;" class="fa-solid fa-video"></i><a href="https://vimeo.com/679082452" target='__blank' >
                    <b>Course Intro Video:</b> 
                </a></p>
            </div>
        </div>
      </div> -->
      </div>
</div>
</div>

