

<section>
  <div id = "navigation-pic" class="d-flex flex-column align-items-center justify-content-center text-center" >
    <div class="navigation-pic-content ">
    <h2>Eligibility & Fee Structure - MCA</h2>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Programmes Offered</a></li>
        <li class="breadcrumb-item"><a href="#">MCA</a></li>
        <li class="breadcrumb-item" aria-current="page">MCA Eligibility & Fee Structure</li>
      </ol>
    </nav>  
  </div>
</div>
</section>

<!-- END OF HEADER -->
    
<div class="wm-main-content">
  <!--// Main Section \\-->

  <!--// Main Section \\-->
  <div class="wm-main-section wm-courses-popular-full">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <div class="wm-fancy-title">
              <h2 class="underline">Eligibility for Admission -<span> MCA</span></h2>
           </div>
           <div class="wm-courses wm-courses-popular">
              <div class="wm-editore-text">
              <p>Any undergraduate Degree with branch of study in Computer Applications, Computer Science, Engineering with a minimum CGPA of 5.0 / 50% of marks.</p>
              <p class="text-center">OR</p>
              <p>Any undergraduate degree with the branch of study in Mathematics, Physics, Chemistry, Commerce with Mathematics at Graduation Level or 12th standard Level and with a minimum CGPA of 5.0 / 50% of marks.</p>
                  <ul class="wm-list-style-icon" style="padding: 0;">
                      <li> <i class="fa fa-circle"></i>Admission is based on the CGPA /Percentage obtained in the UG degree and performance in the Crescent PG Entrance Exam (CPGEE).</li>
                      <li> <i class="fa fa-circle"></i>Applicants who have already appeared in the National level Entrance Exams like TANCET, etc., and have secured valid scores are exempted from appearing CPGEE.</li>
                  </ul>
              </div>
           </div>
       </div>
      </div>
      <div class="row">
          <div class="col-md-12">
               <div class="wm-fancy-title">
                  <h2 class="underline">Fee Structure</h2>
              </div>
          </div>
      </div>
     <div class="row">
          <div class="col-md-6">
              <h2>Indian Nationals</h2>
               <div class="wm-courses wm-courses-popular">
                  <div class="wm-editore-text">
                      <table class="table table-striped">
                        <thead>
                          <tr style="background-color: #183051;color: white;">
                            <th class="table-background" scope="col">#</th>
                            <th class="table-background" scope="col">Particulars</th>
                            <th class="table-background" scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Application Fee</td>
                            <td>₹1,000</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Tuition Fee per Semester</td>
                            <td>₹30,000</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <h2>Foreign Nationals</h2>
               <div class="wm-courses wm-courses-popular">
                  <div class="wm-editore-text">
                      <table class="table table-striped">
                        <thead>
                          <tr style="background-color: #183051;color: white;">
                            <th class="table-background" scope="col">#</th>
                            <th class="table-background" scope="col">Particulars</th>
                            <th class="table-background" scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Application Fee</td>
                            <td>$15</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Tuition Fee per Semester</td>
                            <td>$750</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
              
        </div>
     </div>
  </div>

  